body{
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 3m;
  border-bottom: 2px solid pink;
  border-right: 2px solid pink;
  color: rgb(185, 228, 233);
  width: 400px;
  box-shadow: 4px 4px 5px rgb(20, 46, 246);
  margin-top: 10px;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 100%;
  justify-content: center;
}

img{
  width: 450px;
  height: 300px;
  margin: 10px;
  transition: all .5s;
}

img:hover{
  transform: scale(1.1)
}
